.container{
    display: flex;
    flex-direction: column;
}

.row1, .row2, .row3, .row4{
    flex-direction: row;
    align-self: center;
}

button{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
    width: 100px;
}

p{
    text-align: center;
    height: 30px;
    font-size: 20px;
}
